* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.products-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin-top: 40px;
    padding: 50px;
}

.pagination-btn {
    margin-left: 10px;
    padding: 10px;
}

.pagination-btn:hover {
    background-color: rgb(225, 186, 138);
    border-radius: 15px;
    border-color: none;
}

.pagination {
    text-align: center;
    margin-bottom: 50px;
}